body {
  font: 16px monospace;
}

.md-component > * {
  max-width: 90ch;
  width: 100%;
}

.md-component * * {
  all: inherit;
}
.md-paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  text-justify: newspaper;
}

.md-paragraph textarea {
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
}

.md-header {
  max-width: calc(89 * 9px);
}
